@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Ultra Light'), local('Sofia-Pro-Ultra-Light'),
        url('../../fonts/SofiaProUltraLight.woff2') format('woff2'),
        url('../../fonts/SofiaProUltraLight.woff') format('woff'),
        url('../../fonts/SofiaProUltraLight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  $font-pro: Sofia Pro;
  $font-alata: 'Alata', sans-serif;

* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    width: 100%;
}


.nav_bar {
    ul {
        list-style-type: none;
    }
}

body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(75, 75, 75, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #F9D023;
  outline: 1px solid #F9D023;
}

/* THE BEGINNING OF THE FIRST SECTION */

.nav_bar {
    .menu_btn {
        display: none;
    }
}

li { 
    list-style-type: none;
}


.nav_bar {
    padding-top: 1%;
    width: 100%;
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        .svg {
            height: 55px / 960px * 100%;
            transition: 0.3s ease-in-out;
        }
    }
}

.menu-items {
    align-self: center;
    font-family: $font-pro;
    font-style: normal;
    font-weight: normal;
    font-size: 110%;
    font-weight: bold;
}

.menu-items-wrap {
    display: grid;
    grid-template-columns: 4.1em 4.1em 4.1em;
    grid-column-gap: 4.1em;
    padding-bottom: 0.31em;
    text-align: center;
    li{
        padding-bottom: 0.38em;
    }
}


.container {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    background: url("../../img/bgi.png") center center fixed;
    background-size: 100% 100%;
}

.main-content {

    justify-self: center;
    align-self: center;
    text-align: center;
    width: 100%;
    .title {
        font-size: 7em;
        font-family: $font-alata;
        color: white;
        margin-top: 322px;
    }
    
    .contacts {
        width: 12em;
        height: 3em;
        background: #F9D023;
        border: none;
        font-family: $font-pro;
        font-size: 0.88em;
        font-weight: 600;
        transition: 0.3s ease-in-out;
    }

    .description {
        width: 99%;
        text-align: center;
        font-family: $font-pro;
        font-style: normal;
        color:white;
        font-weight: 500;
        font-size: 1.5em;
        margin-top: 2.4em;
        margin-bottom: 3em;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background: linear-gradient(360deg, #000000 4.66%, rgba(0, 0, 0, 0) 76.78%);
    .main-line{
        width: 2px;
        height: 101px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        background: #F6D330;
        border: none;
    }
    .scroll {
        font-family: $font-pro;
        font-size: 14px;
        font-weight: 300;
        transition: 0.3s ease-in-out; 
        color: rgba(255, 255, 255, 0.7);
        margin-top: 29px;
        margin-bottom: 55px;
    }
}

.mobile-items-about, .mobile-items-service, .mobile-items-contact {
    width: 150px;
    transition: 0.3s ease-in-out;
}

.close_btn {
    transition: 0.3s ease-in-out;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        width: 100%;
        background-color: #000000;
        .mobile-svg {
            display: inline-block;
            background-color: #FFFFFF;
        }
    }
    .mobile-items-wrap {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 40px;
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: $font-pro;
        
    }

}

/* THE END IF THE FIRST SECTION */


// SECTION #2
.container2 {
    background-color: #F2F2F2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 193px 100px 1fr;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.about-wrapper {
    text-align: start;
    margin-left: 150px;
    width: 90%;
    .AboutUs {
        font-family: $font-alata;
        font-size: 90px;
        font-weight: 400;
        margin-top: 93px;
        width: 90%;
    }
}
.line{
    width: 100px;
    height: 2px;
    border: none;
    background-color:#F6D330;
    grid-row:2;
    margin-top: 17%;
    margin-left: 150px;
    margin-bottom: 55px;
}

.content {
    grid-column: span 2;
    grid-row: 3;
    .img-info {
        float:left;
        margin-left: 9.4em;
        margin-right: 68px;
        margin-bottom: 93px;
        margin-top: 55px;
        height:20em; 
        width:28em;
    }
    
    .text-wrap{
        display:flex;
        flex-direction:column;
        width: 50%;
        margin-top: 55px;
        text-align: start;
        margin-bottom: 140px;
        text-overflow: clip;
    }

    .textContent {
        font-family: $font-pro;
        font-size: 22px;
        font-weight: 300;
        width: 80%;
        margin-left: 50px;
    }
    
    @media (max-width: 1300px) {
        .textContent {
            font-family: $font-pro;
            font-size: 22px;
            font-weight: 300;
            width: 100%;
            margin-left: 150px;
        }
    }
    
}

// THE END OF THE SECTION #2

// SECTION #3

.container3 {
    display: grid;
    grid-template-rows: 193px 100px 118px 200px 193px;
    background-color: #F6D330;
    height: auto;
    width: 100%;
    .Services-wrapper {
        text-align: start;
        margin-left: 150px;
        .Services {
            font-family: 'Alata', sans-serif;
            font-size: 5.3em;
            font-weight: 400;
            margin-top: 93px;
        }
    }
}

.line-2 {
    width: 100px;
    height: 2px;
    border: none;
    background-color: #ffffff;
    grid-row: 2;
    margin-top: 62px;
    margin-left: 150px;
    margin-bottom: 45px;
}

.strategies {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 150px;
    margin-right: 50px !important;
    .enterprise {
        grid-column: 1;
    }
}


.shapes{
    position:relative;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease-in-out;
    .arrow {
        grid-row:2;
        width: 10px;
        height: 10px;
        border-top: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF;
        margin-top: 45px;
        transform: rotate(45deg);
    }
    .tail{
        grid-row:2;
        width: 33px;
        height: 10px;
        border-top: 2px solid #FFFFFF;
        margin-top: 50px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
}



ul.wholesale {
    margin-left: auto;
    grid-row:1;
    grid-column: 2;
}

ul.Market {
    margin-left: auto;
    grid-row:1;
    grid-column: 3;
}


ul .strategies-title{
    font-size: 40px;
    font-family: Sofia Pro;
    font-weight: 700;
}



ul .enter-item {
    list-style: square outside;
    margin-top: 33px;
    font-family: Sofia Pro;
    font-weight: 300;
    font-size: 18px;
}

ul .whole-item {
    list-style: square outside;
    margin-top: 33px;
    font-family: Sofia Pro;
    font-weight: 300;
    font-size: 18px;
}

ul .market-item {
    list-style: square outside;
    margin-top: 33px;
    font-family: Sofia Pro;
    font-weight: 300;
    font-size: 18px;
}

.text_section3 {
    font-family: Sofia Pro;
    font-size: 18px;
    font-weight: 300;
    width: 65%;
    margin-left: 150px;
}

.span-2 {
    grid-row:3;
    width: 65%;
}

.span-3 {
    grid-row: -1;
    margin-bottom: 92px;
    margin-top: 67px;
    width: 50%;
}

.id2 {
    margin-left: 16%;
}

.id3 {
    margin-left: 16%;
}

// THE END OF THE SECTION #3

// SECTION #4
.container4 {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 150px 150px 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #000000;
    color:white;
}


.connect-wrapper {
    padding-top: 93px;
    margin-left: 150px;
    .connect {
        font-family: $font-alata;
        font-size: 90px;
        font-weight: 400;
    }
}

.email {
    grid-row: 3;
    grid-column: 1;
    font-family: Sofia Pro;
    font-weight: 700;
    font-size: 40px;
    margin-left: 150px;
    margin-top:39px;
    .link {
        color:#F6D330;
        text-decoration: underline;
        cursor: pointer;
    }
}

.connect-form {
    margin-top: 154px;
    margin-left: 110px;
    .form {
        font-size: 40px;
        font-family: Sofia Pro;
        font-weight: 700;
        width: 442px;
        margin-bottom: 41px;
    }
    .send {
        position: relative;
        width: 196px;
        height: 48px;
        background: #F9D023;
        border: none;
        font-family: Sofia Pro;
        font-size: 14px;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        margin-left: auto;
    }
    input{
        background-color: #FFFFFFFF;
        width:445px;
        height: 48px;
        margin-bottom: 15px;
        padding-left: 2%;
        outline: none;
        border: none;
    }
    input::placeholder {
        font-family: Sofia Pro;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.6px;
        text-align: start;
        padding-left: 20px;
        color:black;
    }
}

.last-line {
    width: 2px;
    height: 101px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: #F6D330;
    border: none;
}

// THE END OF THE SECTION #4

/* Animations */

.mobile-items-about:hover, .mobile-items-service:hover, .mobile-items-contact:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 0px 0px 10px black;
    border-bottom: 2px solid #F6D330;
    padding-bottom: 10px;
}

.close_btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.menu-items-wrap li:hover {
    cursor: pointer;
    border-bottom: 2px solid #F6D330;
    transform: scale(1.1);
}

.main-content .contacts:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #F9D023;
    text-shadow: 0px 0px 10px black;
}

.svg:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* .footer:hover{
    animation: gradient 0.1s ease-in-out both;
} */

.footer .scroll:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.send:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #F9D023;
    text-shadow: 0px 0px 10px black;
}


.navigation-pointer:hover{
 transform: scale(1.3);
 cursor: pointer;
}

.shapes:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.menu_btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}


// SCREENS SMALLER THAN 650px
// MEDIA for section #1
@media (max-width:650px) {
    .container {
        width: 100%;
    }

    .nav_bar {
        width: 100%;
    }

    .nav {
        justify-content: space-between;
        .menu-items-wrap {
            display: none;
        }
    }

    .nav {
        .menu_btn {
            display: initial;
            transition: 0.3s ease-in-out;
        }
    }

    .main-content {
        .title {
            font-size: 50px;
            font-family: $font-alata;
            color: white;
            margin-top: 70px;
        }
        .description {
            font-size: 14px;
            margin-top: 18px;
            margin-bottom: 44px;

        }
    }
}


// MEDIA for section #2
@media(max-width: 650px) {
    .container2 {
        width: 100%;
    }

    .about-wrapper {
        margin-left: 15px;
        
        .AboutUs {
            font-size: 40px;
            width: 177px;
        }
    }

    .content {
        width: 100%;
        .img-info{
            width: 290px;
            height: 180px;
            margin: 15px;
        }
        .text-wrap {
            display: block;
            width: 290px;
            .textContent {
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 30px;
                margin-bottom: 50px;
            }
        }
    }

    .line {
        width: 65px;
        height: 4px;
        margin-left: 15px;
    }

    .img-info{
        height: 180px;
        width: 290px;
    } 
    
}



// MEDIA for section #3
@media(max-width: 1020px) {

    .strategies {
        display:flex;
        flex-direction: column;
        font-size: 14px;
        margin: auto;
        .enterprise {
            margin:auto;
            padding: auto;
        }
    }

    ul {
        .strategies-title{
            margin-top: 35px;
        }
    }

    .container3 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .id{
        margin-left: 70px;
    }

    .id2 {
        margin: auto;
    }
    
    .id3 {
        margin: auto;
    }

   
}


@media(max-width: 650px) {

    .Services-wrapper {
        margin-left: 15px !important;
        .Services {
            font-size: 40px !important;
        }
    }

    .container3 {
        width: 100%;
        p {
            font-size: 14px;
            margin-left: 15px;
        }
        hr {
            margin-left: 15px !important;
        }
        .shapes {
            margin: auto;
        }
    }

    .strategies {
        display: flex;
        flex-direction: column;
        font-size: 14px !important;
        margin: auto;
        .enterprise {
            margin: 15px;
            padding: auto;
        }
        ul .enter-item {
            font-size: 14px !important;
        }
    
        ul .market-item {
            font-size: 14px !important;
        }
    
        ul .whole-item {
            font-size: 14px !important;
        }
    }

    ul {
        .strategies-title{
            margin-top: 35px;
            font-size: 25px;
        }

        .enter-item {
            margin-left: 4%;
        }
        
    }

    ul.wholesale {
        margin-left: 25px !important;
    }

    ul.Market {
        margin-left: 25px !important;
    }


    .container3 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .id{
        margin-left: 70px;
    }

    .id2 {
        margin: auto;
    }
    
    .id3 {
        margin: auto;
    }

   
}


// MEDIA for section #4
@media (max-width: 1260px){

    .container4 {
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    
    .connect-wrapper {
        padding-top: 93px;
        margin-left: 110px;
        font-size: 40px;
        .connect {
            font-family: $font-alata;
            font-size: 40px;
            font-weight: 400;
        }
    }
    .email {
        font-size: 25px;
        margin-left: 110px;
    }

    .email {
        .link {
            font-size: 25px;
            width: 10%;
        }
    }
}

@media (max-width: 650px){

    .container4 {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .connect-wrapper {
        padding-top: 93px;
        margin-left: 15px;
        font-size: 40px;
        .connect {
            font-family: $font-alata;
            font-size: 40px;
            font-weight: 400;
        }
    }
    .email {
        font-size: 25px;
        margin-left: 15px;
    }

    .email {
        .link {
            font-size: 25px;
            word-break: break-all;
        }
    }

    .connect-form {
        margin-left: 15px;
        margin-top: 23px;

        .form{ 
            font-size: 25px;
            width: 290px;
        }
        input{
            background-color: #FFFFFFFF;
            width:290px;
            height: 48px;
            margin-bottom: 15px;
            outline: none;
            border: none;
        }
        input::placeholder {
            font-family: Sofia Pro;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.6px;
            text-align: start;
            padding-left: 20px;
            color:black;
        }
        .send {
            margin: auto;
        }
    }
}










// SCREENS WITH 320PX WIDTH
// MEDIA for section #1
@media (max-width:320px) {
    .container {
        width: 320px;
    }

    .nav_bar {
        width: 320px;
    }

    .nav {
        justify-content: space-between;
        .menu-items-wrap {
            display: none;
        }
    }

    .nav {
        .menu_btn {
            display: initial;
        }
    }

    .main-content {
        .title {
            font-size: 50px;
            font-family: $font-alata;
            color: white;
            margin-top: 70px;
            width: 290px; 
        }
        .description {
            width: 290px;
            font-size: 14px;
            margin-top: 18px;
            margin-bottom: 44px;

        }
    }

    .mobile-items-about, .mobile-items-service, .mobile-items-contact {
        width: 150px;
        transition: 0.3s ease-in-out;
    }
    
    .close_btn {
        transition: 0.3s ease-in-out;
    }
    
    .mobile-menu {
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .mobile-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 320px;
            background-color: #000000;
            .mobile-svg {
                background-color: #FFFFFF;
            }
        }
        .mobile-items-wrap {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 40px;
            width: 320px;
            height: 100%;
            text-align: center;
            font-family: $font-pro;
            
        }
    
    }
}


// MEDIA for section #2
@media(max-width: 320px) {
    .container2 {
        width: 320px;
    }

    .about-wrapper {
        margin-left: 15px;
        
        .AboutUs {
            font-size: 40px;
            width: 177px;
        }
    }

    .content {
        width: 320px;
        .img-info{
            width: 290px;
            height: 180px;
            margin: 15px;
        }
        .text-wrap {
            display: block;
            width: 290px;
            .textContent {
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 30px;
                margin-bottom: 50px;
            }
        }
    }

    .line {
        width: 65px;
        height: 4px;
        margin-left: 15px;
    }

    .img-info{
        height: 180px;
        width: 290px;
    } 
    
}



// MEDIA for section #3
@media(max-width: 320px) {

    .Services-wrapper {
        margin-left: 15px !important;
        .Services {
            font-size: 40px !important;
        }
    }

    .container3 {
        width: 320px;
        p {
            font-size: 14px;
            margin-left: 15px;
        }
        hr {
            margin-left: 15px !important;
        }
        .shapes {
            margin: auto;
        }
    }

    .strategies {
        display: flex;
        flex-direction: column;
        font-size: 14px !important;
        margin: auto;
        .enterprise {
            margin: 15px;
            padding: auto;
        }
        ul .enter-item {
            font-size: 14px !important;
        }
    
        ul .market-item {
            font-size: 14px !important;
        }
    
        ul .whole-item {
            font-size: 14px !important;
        }
    }

    ul {
        .strategies-title{
            margin-top: 35px;
            font-size: 25px;
        }

        .enter-item {
            margin-left: 4%;
        }
        
    }

    ul.wholesale {
        margin-left: 25px !important;
    }

    ul.Market {
        margin-left: 25px !important;
    }


    .container3 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .id{
        margin-left: 70px;
    }

    .id2 {
        margin: auto;
    }
    
    .id3 {
        margin: auto;
    }

   
}


// MEDIA for section #4
@media (max-width: 320px){

    .container4 {
        height: fit-content;
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    
    .connect-wrapper {
        padding-top: 93px;
        margin-left: 15px;
        font-size: 40px;
        .connect {
            font-family: $font-alata;
            font-size: 40px;
            font-weight: 400;
        }
    }
    .email {
        font-size: 25px;
        margin-left: 15px;
    }

    .email {
        .link {
            font-size: 25px;
            word-break: break-all;
        }
    }

    .connect-form {
        margin-left: 15px;
        margin-top: 23px;

        .form{ 
            font-size: 25px;
            width: 290px;
        }
        input{
            background-color: #FFFFFFFF;
            width:290px;
            height: 48px;
            margin-bottom: 15px;
            outline: none;
            border: none;
        }
        input::placeholder {
            font-family: Sofia Pro;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.6px;
            text-align: start;
            padding-left: 20px;
            color:black;
        }
        .send {
            margin: auto;
        }
    }
}